/* Add these media queries at the end of your existing CSS */

/* For screens with a maximum width of 180px */
@media screen and (max-width: 180px) {
  /* Adjust the profile section height and margin */
  #profile {
    height: auto; /* Remove fixed height */
    margin-bottom: 1rem;
  }

  /* Wrap the about containers */
  .about-containers {
    flex-wrap: wrap;
  }

  /* Hide the desktop navigation */
  #desktop-nav {
    display: none;
  }

  /* Show the hamburger menu */
  #hamburger-nav {
    display: flex;
  }

  /* Change profile and section container to block display */
  #profile,
  .section-container {
    display: block;
  }

  /* Hide the arrow icon */
  .arrow {
    display: none;
  }

  /* Set the section height to fit content */
  section,
  .section-container {
    height: fit-content;
  }

  /* Add margin to sections */
  section {
    margin: 0 1rem;
  }

  /* Adjust the profile picture container */
  .section__pic-container {
    width: auto;
    height: 40vw;
    justify-content: center;
  }

  /* Decrease font size for section__text__p2 */
  .section__text__p2 {
    font-size: 1rem;
  }

  /* Decrease font size for title and justify text in text container */
  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .text-container {
    text-align: justify;
  }
}

/* For screens with a maximum width of 1400px */
@media screen and (max-width: 1400px) {
  /* Adjust the profile section height and margin */
  #profile {
    height: auto; /* Remove fixed height */
    margin-bottom: 2rem;
  }

  /* Wrap the about containers */
  .about-containers {
    flex-wrap: wrap;
  }
}

/* For screens with a maximum width of 1200px */
@media screen and (max-width: 1200px) {
  /* Hide the desktop navigation */
  #desktop-nav {
    display: none;
  }

  /* Show the hamburger menu */
  #hamburger-nav {
    display: flex;
  }

  /* Add margin to experience section */
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  /* Change profile and section container to block display */
  #profile,
  .section-container {
    display: block;
  }

  /* Hide the arrow icon */
  .arrow {
    display: none;
  }

  /* Set the section height to fit content */
  section,
  .section-container {
    height: fit-content;
  }

  /* Add margin to sections */
  section {
    margin: 0 1rem;
  }

  /* Adjust the profile picture container */
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    justify-content:center;
  }

  /* Remove margin-top for about containers */
  .about-containers {
    margin-top: 0;
  }
}

/* For screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  /* Increase the height of the contact section and footer */
  #contact,
  footer {
    height: auto;
  }

  .skill {
    min-width: 100%; /* Make each skill card full width on small screens */
  }

  .skill p {
    font-size: 0.9rem; /* Decrease font size for better readability */
    max-height: none; /* Remove max height to display full text */
  }

  /* Adjust profile section height and margin */
  #profile {
    height: auto; /* Remove fixed height */
    margin-bottom: 0;
  }

  /* Decrease the font size of articles */
  article {
    font-size: 1rem;
  }

  /* Adjust the footer navigation */
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  /* Wrap about containers, contact info, and buttons */
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  /* Adjust the contact info container margin */
  .contact-info-container {
    margin: 0;
  }

  /* Decrease font size for contact info and navigation links */
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  /* Decrease font size for experience sub-title */
  .experience-sub-title {
    font-size: 1rem;
  }

  /* Decrease font size for logo */
  .logo {
    font-size: 1.5rem;
  }

  /* Change the direction of navigation links */
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  /* Adjust the profile picture container */
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  /* Decrease font size for section__text__p2 */
  .section__text__p2 {
    font-size: 1rem;
  }

  /* Decrease font size for title and justify text in text container */
  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .text-container {
    text-align: justify;
  }
}

@media screen and (max-width: 248px) {
  .project-description {
    /* Decrease font size for better fit */
    max-height: 5rem; /* Adjust the maximum height as needed */
  }
}

@media screen and (max-width: 232px) {
  .project-description {
     /* Decrease font size for better fit */
    max-height: 5rem; /* Adjust the maximum height as needed */
  }
}

@media screen and (max-width: 197px) {
  .project-description {
     /* Decrease font size for better fit */
    max-height: 5rem; /* Adjust the maximum height as needed */
  }
}
@media screen and (max-width: 182px) {
  .project-description {
    /* Decrease font size for better fit */
    max-height: 5rem; /* Adjust the maximum height as needed */
  }
}
@media screen and (max-width: 100px) {
  .project-description {
    /* Decrease font size for better fit */
    max-height: 5rem; /* Adjust the maximum height as needed */
  }
}